/*@import url(http://fonts.googleapis.com/css?family=Raleway);*/

.raleway {
    font-family: 'Raleway', sans-serif;
}

body {
    padding-top: 20px;        
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* PCPrincess CSS */

/* OVERRIDES */

.navbar-inverse .navbar-nav .nav-link {
    color: white;
    color: rgba(255, 255, 255, 0.75);
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover { /* Not Yet Changed */
    color: white;
    color: rgba(255, 255, 255, 0.95);
}

.navbar-inverse .navbar-nav .nav-link.disabled { 
    color: white;
    color: rgba(255, 255, 255, 0.65);
}

.nav-link.disabled { 
    color: #636c72;
    cursor: not-allowed;
}

a {    
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

/* Info: The Colors Used by Bootstrap For
    info >   background-color: #5bc0de;
    danger > background-color: #d9534f;
    warning > background-color: #f0ad4e;
*/

.color-theme {
    color: #667399;
    color: hsl(225, 20%, 50%);
}

.color-white {
    color: white;
}

.color-bb {
    border-bottom: 1.5px solid #5bc0de;
}

.color-bt {
    border-top: 1.5px solid #667399;
    border-top: 1.5px solid hsl(225, 20%, 50%);
}

/* Comment Text Entry */

.comment-wrapper {
    max-width: 780px;
    position: relative;
    padding-left: 3.50rem;
    margin-bottom: 1rem;
}

.comment-avatar {
    float: left;
    margin-left: -3.25rem;
    border-radius: 2px;
}

.comment-inner-wrapper {
    position: relative;
    background-color: #fff;
    /*border: 1px solid #d1d5da;*/
    border-radius: 2px;
}

.ct-button {
    border: 1px solid #d1d5da;
    border-radius: 3px;
}

.pcprincess-footer {
    background-color: #667399;
    background-color: hsl(225, 20%, 50%);
    height: 170px;
    width: 100%;
    padding: .5rem;
}

/* Stacked-Tab Media Box */

.stacked-tab-media {
    height: 247px;
    width: 560px;
}

.stacked-tab-media li a {
    display: inline-block;
    width: 180px;
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
}

.stacked-tab-media .tab-content {
    height: 247px;
    position: absolute;
    top: 0;
    left: 193px;
}

.stacked-tab-media .tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 247px;
    width: 360px;
    border: 1px solid #E8E8E8;
}

/* Dividers */
.dropdown-divider {
    height: 1px;
    margin: 2rem 0 0 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.vert-divider {
    height: inherit;
    width: .75px;
    background-image: linear-gradient(to bottom, hsl(225, 20%, 50%), lightgray, hsl(225, 20%, 50%));
    margin: -5px 1rem;
    
}

/* Hover */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.container-transition {
    -o-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    -moz-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
}

.shadow-box {
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

/*  position: relative/absolute/fixed  -  opacity: 0.X  */

.stack-1 {
    z-index: 1;
}

.stack-2 {
    z-index: 2;
}

.stack-3 {
    z-index: 3;
}

.stack-4 {
    z-index: 4;
}

.stack-5 {
    z-index: 5;
}

