@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);

.raleway {
    font-family: 'Raleway', sans-serif;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

body {
    padding-top: 30px;
    padding-bottom: 20px;    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* PCPrincess CSS */

a {
    color: dimgray;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

.bg-color1 {
    background-color: #E6EBE6;
}

.bg-color2 {
    background-color: #F7F7F7;
}

.bg-color3 {
    background-color: #E6E7E8;
}

.bg-color-moz {
    background-color: hsl(0,0%,95%);
}

/* Info: The Colors Used by Bootstrap For
    info >   background-color: #5bc0de;
    danger > background-color: #d9534f;
*/

/* Button/Tab/Pill Border Bottom Button aka: bbb */
.bbb {
    border-bottom: 1.5px solid #5bc0de;
}

/* Card Border Top aka: cbt */
.cbt-default {
    border-top: 1.5px solid #87a465;
}
.cbt-info {
    border-top: 1.5px solid #5bc0de;
}

.pcprincess-header {
    display: flex;
    background-color: inherit;
    border: 1px solid lightgray;
    height: 175px;
    font: inherit;
    color: darkgray;
}

.pcprincess-footer {
    background-color: #E6EBE6;
    border: 1px solid lightgray;
    height: 175px;
    width: 100%;
    font: inherit;
    color: darkgray;
}

.logo-box {
    height: 100%;
    width: 175px;
    border-right: 1px solid lightgray;
    /*position: relative;
    top: 0;
    left: 0;*/
}

.logo {    
    border: 2px solid white;
}

.nav-box {
    height: 175px;
    margin: 0;    
}

.nav-box a {
    background-color: #E6EBE6;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid lightgray;    
    border-left: none;
    line-height: 1.5rem;
    margin-bottom: 0.1rem;
}

/* Social-Networking Navi */
.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-share li a:hover {
    background: #c52d2f;
    color: #fff;
}

/* Stacked-Tab Media Box */

.stacked-tab-media {
    height: 247px;
    width: 560px;    
    /*border: 1px solid #E8E8E8;*/
}

.stacked-tab-media li a {
    display: inline-block;
    width: 180px;
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
}

.stacked-tab-media .tab-content {
    height: 247px;
    position: absolute;
    top: 0;
    left: 193px;
}

.stacked-tab-media .tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 247px;
    width: 360px;
    border: 1px solid #E8E8E8;
}

/*
.stacked-tab-media  {
    z-index: 1;
}
*/

/*  Text Entry Box - Comments, Article Creation  */
.text-entry-row {
    margin-top: 20px;
}

.fa-lg {
    vertical-align: 0;
}

.text-entry-box {
    border-color: #DBDEE0;
    border-width: 1px;
    border-style: solid;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    font-size: 14px;
    background-color: #FFFFFF;
}

.text-entry-box-header {
    background-color: #F4F5F5;
    color: #34383C;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 40px;
    border-bottom-color: #DBDEE0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.text-entry-box-header i {
    color: #CED1D4;
    border-right-color: #DBDEE0;
    border-right-width: 1px;
    border-right-style: solid;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    line-height: 20px;
    text-align: center;
}

.text-entry-box-title p {
    color: #7C848D;
    display: inline-block;
    margin: 0 0 0 0;
}

.text-entry-box-title p + p {
    margin-left: 5px;
}

.text-entry-box-icon i {
    border-right: none;
    color: inherit;
    background-color: inherit;
}

.text-entry-box-icon a,
.text-entry-box-icon a:link,
.text-entry-box-icon a:visited {
    border-left-color: #DBDEE0;
    border-left-width: 1px;
    border-left-style: solid;
    color: #7C848D;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    margin: 0;    
    padding: 0;    
    /*float: left;*/
    background-color: transparent;
}

.text-entry-box-icon a:hover,
.text-entry-box-icon a:focus {
    background-color: #7C848D;
    display: inline-block;
    text-decoration: none;
    border-bottom-width: 0;
    color: #F4F5F5;
}

.text-entry-box-content {
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px;
}

/* Tabbed-Content Box  */

.tabbed-content-box {
    width: 500px;
    height: 300px;
    margin-bottom: 2em;
    margin-top: -1rem;
}

.tabbed-content-box ul { /*  Change the Default Padding-Left and Margin-Top From the ul  */
    padding-left: 0;
}

.tabbed-content-box li {
    float: left; /*  All Floated Left to Sit in Line  */
    list-style-type: none; /*  Remove Default Bullets  */
    width: 100px; /*  Parent Container Width Divided by Three  */
}

    .tabbed-content-box li a {
        display: inline-block; /*  Sit in Line, but Stylable  */
        text-decoration: none; /*  No Anchor Link Underline  */
        width: 100%; /*  Width of Container  */
        line-height: 2.5; /*  Height of Container (with anchors)  */
        background-color: #E7EFF7;
        color: black;
        text-align: center;
        border-bottom: 3px solid white;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
    }

.tabbed-content-box li a:hover, .tabbed-content-box li a:focus { /*  Color Change - Tab  */
    background-color: gainsboro;
}

.tabbed-content-box li a.active { /*  a.active points to JavaScript  */
    background-color: lightcyan;
}

.tabbed-content-box .panels {
    height: 262px; /*  Panel Height Should 'Fit' Snugly in .tabbed-content-box  */
    position: relative; /*  This is NOW the NEW POSITION CONTEXT  */
    clear: both; /*  Always CLEAR after using FLOATS (above in li) */
}

    .tabbed-content-box article {
        position: absolute; /* Every 'article' will be absolutely positioned to its ancestor with
                relative positioning (panels). This will stack them on top of each other in each case. */
        top: 0;
        left: 0; /*  No Need to 'Push' the 'Box'  */
        height: 262px; /*  Same as 'Panels'  */
        padding: 10px; /*  Content padding  */
        color: black; /*  Font color  */
        background-color: #E7EFF7;
        border: 1px solid lightgray;
    }

.tabbed-content-box .active-panel {
    z-index: 1;
}

.dropdown-divider {
    height: 1px;
    margin: 2rem 0 0 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.vert-divider {
    height: inherit;
    width: 1px;
    background-color: white;
    background-image: linear-gradient(to bottom, lightgray, white);
}

/* Hover */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.container-transition {
    -webkit-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    -moz-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
}

.shadow-box {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/*  position: relative/absolute/fixed  -  opacity: 0.X  */

.stack-1 {
    z-index: 1;
}

.stack-2 {
    z-index: 2;
}

.stack-3 {
    z-index: 3;
}

.stack-4 {
    z-index: 4;
}

.stack-5 {
    z-index: 5;
}

