@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);

.raleway {
    font-family: 'Raleway', sans-serif;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

body {
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* PCPrincess CSS */

/*a {
    color: #c52d2f;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}*/

.bg-color1 {
    background-color: #cfc;
}

.bg-color2 {
    background-color: #E6EBE6;
}

.bg-color-moz {
    background-color: hsl(0,0%,95%);
}

/* Info: The Colors Used by Bootstrap For
    info >   background-color: #5bc0de;
    danger > background-color: #d9534f;
*/

.hr-color1 {
    border-bottom: 1px solid #E8E8E8; /* Border Top or Bottom of any CONTAINER */
}

/* Button/Tab/Pill Border Bottom aka: bbb */
.bbb {
    border-bottom: 1.5px solid #5bc0de;
}

/* Card Border Top aka: cbt */
.cbt {
    border-top: 1.5px solid #5bc0de;
}

.pcprincess-header {
    background-image: linear-gradient(to bottom, white 70%, hsl(0,0%,95%)); /* white 20%, aliceblue */
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    height: 125px;
    font: inherit;
    color: darkgray;
}

.logo-box {
    height: 100%;
    width: 150px;
    border-right: 1px solid lightgray;
    position: relative;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 20px;
    left: 25px;
}

.nav-box {
    height: 2rem;
    width: 150px;
    font-size: 1rem;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/*  Text Entry Box - Comments, Article Creation  */
.text-entry-row {
    margin-top: 20px;
}

.fa-lg {
    vertical-align: 0;
}

.text-entry-box {
    border-color: #DBDEE0;
    border-width: 1px;
    border-style: solid;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    font-size: 14px;
    background-color: #FFFFFF;
}

.text-entry-box-header {
    background-color: #F4F5F5;
    color: #34383C;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 40px;
    border-bottom-color: #DBDEE0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.text-entry-box-header i {
    color: #CED1D4;
    border-right-color: #DBDEE0;
    border-right-width: 1px;
    border-right-style: solid;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    line-height: 20px;
    text-align: center;
}

.text-entry-box-title p {
    color: #7C848D;
    display: inline-block;
    margin: 0 0 0 0;
}

.text-entry-box-title p + p {
    margin-left: 5px;
}

.text-entry-box-icon i {
    border-right: none;
    color: inherit;
    background-color: inherit;
}

.text-entry-box-icon a,
.text-entry-box-icon a:link,
.text-entry-box-icon a:visited {
    border-left-color: #DBDEE0;
    border-left-width: 1px;
    border-left-style: solid;
    color: #7C848D;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    float: left;
    background-color: transparent;
}

.text-entry-box-icon a:hover,
.text-entry-box-icon a:focus {
    background-color: #7C848D;
    display: inline-block;
    text-decoration: none;
    border-bottom-width: 0;
    color: #F4F5F5;
}

.text-entry-box-content {
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px;
}

/*  position: relative/absolute/fixed  -  opacity: 0.X  */
.stack-1 {
    z-index: 1;
}

.stack-2 {
    z-index: 2;
}

.stack-3 {
    z-index: 3;
}

.stack-4 {
    z-index: 4;
}

.stack-5 {
    z-index: 5;
}

.dropdown-divider {
    height: 1px;
    margin: 2rem 0 0 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.vert-divider {
    height: inherit;
    width: 1px;
    background-color: white;
    background-image: linear-gradient(to bottom, lightgray, white);
}

.tabbed-content-box {
    width: 500px;
    height: 300px;
    margin-bottom: 2em;
    margin-top: -1rem;
}

.tabbed-content-box ul { /*  Change the Default Padding-Left and Margin-Top From the ul  */
    padding-left: 0;
}

.tabbed-content-box li {
    float: left; /*  All Floated Left to Sit in Line  */
    list-style-type: none; /*  Remove Default Bullets  */
    width: 100px; /*  Parent Container Width Divided by Three  */
}

.tabbed-content-box li a {
    display: inline-block; /*  Sit in Line, but Stylable  */
    text-decoration: none; /*  No Anchor Link Underline  */
    width: 100%; /*  Width of Container  */
    line-height: 2.5; /*  Height of Container (with anchors)  */
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-bottom: 3px solid white;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.tabbed-content-box li a:hover, .tabbed-content-box li a:focus { /*  Color Change - Tab  */
    background-color: gainsboro;
}

.tabbed-content-box li a.active { /*  a.active points to JavaScript  */
    background-color: lightcyan;
}

.tabbed-content-box .panels {
    height: 262px; /*  Panel Height Should 'Fit' Snugly in .tabbed-content-box  */
    position: relative; /*  This is NOW the NEW POSITION CONTEXT  */
    clear: both; /*  Always CLEAR after using FLOATS (above in li) */
}

.tabbed-content-box article {
    position: absolute; /* Every 'article' will be absolutely positioned to its ancestor with
                        relative positioning (panels). This will stack them on top of each other in each case. */
    top: 0;
    left: 0; /*  No Need to 'Push' the 'Box'  */
    height: 262px; /*  Same as 'Panels'  */
    padding: 10px; /*  Content padding  */
    color: black; /*  Font color  */
    background-color: aliceblue;
    border: 1px solid lightgray;
}

.tabbed-content-box .active-panel {
    z-index: 1;
}

.container-transition {
    -webkit-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    -moz-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
}

.shadow-box {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

