
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdeallySpeaking</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline d-flex justify-content-end">
                    <li class="list-inline-item p-2"><a asp-controller="Home" asp-action="Index"><img src="~/images/Simply/Home.png" height="32" width="32" />Home</a></li>
                    <li class="list-inline-item p-2"><a asp-controller="" asp-action=""><img src="~/images/Simply/Text.png" height="32" width="32" />Profile</a></li>
                    <li class="list-inline-item p-2"><a asp-controller="Home" asp-action="Contact"><img src="~/images/Simply/Skype.png" height="32" width="32" />Contact</a></li>
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs border-bottom-0">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Articles" asp-action="Index">Recent</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Articles" asp-action="Create">Create Article Test</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Articles" asp-action="FullArticle">Full Article Test</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Create">Create Comment Test</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="" asp-action="">Placeholder(Don't Click!)</a></li>
                    

                </ul>
                <div class="pcprincess-header d-flex mb-3 ">
                    <div class="logo-box">
                        <img class="logo" src="~/images/Miscellaneous/Megaphone.png" height="75" width="75">
                    </div>
                    <div class="nav-box text-center align-self-end"><a href=""><img src="~/images/Simply/Calendar.png" height="24" width="24" /></a>Events</div>
                    <div class="nav-box text-center align-self-end">Flex item 2</div>
                    <div class="nav-box text-center align-self-end">Flex item 3</div>
                    <div class="nav-box text-center align-self-end">Flex item 1</div>
                    <div class="nav-box text-center align-self-end">Flex item 2</div>
                    <div class="nav-box text-center align-self-end">Flex item 3</div>
                    <div class="nav-box text-center align-self-end">Flex item 1</div>
                    <div class="nav-box text-center align-self-end">Flex item 2</div>
                    <div class="nav-box text-center align-self-end">Flex item 3</div>
                </div>
            </div>
        </div>
    </div><br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - IdeallySpeaking</p>
        </footer>
        <div class="alert alert-info" role="alert">
            <strong>Thanks Readers!</strong> There are some awesome new additions coming to the site. <a asp-controller="Home" asp-action="Supporters" class="alert-link">Can you help by donating?</a>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
