
<!DOCTYPE html>
<html>
<head>
    <!-- Meta Formatting and Parsing http://microformats.org/wiki/Main_Page -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Lori Overholtzer, PCPrincess">
    <meta name="keywords" content="Articles, Comments, Politics, Community, Progressive">
    <meta name="description" content="Original and Aggregated Articles and Comments, Progressive Community">
    <!-- Open Graph protocol for Facebook links - More Properties http://ogp.me/ -->
    <meta name="og:title" content="Ideally Speaking">
    <meta name="og:type" content="">
    <meta name="og:image" content="">
    <meta name="og:url" content="www.ideallyspeaking.net">
    <meta name="og:site_name" content="Ideally Speaking">
    <meta name="og:description" content="Original and Aggregated Articles and Comments, Progressive Community">
    <!-- Twitter's' proprietary metadata for links -->
    <meta name="twitter:title" content="Ideally Speaking">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="IdeallySpeaking.net" content="IdeallySpeaking.net">
    <link rel="icon" sizes="192x192" href="~/images/Miscellaneous/NavBarLogo.png"> <!-- Add Logo to href -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="IdeallySpeaking.net">
    <link rel="apple-touch-icon" href="~/images/Miscellaneous/NavBarLogo.png"> <!-- Add Logo to href -->

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="~/images/Miscellaneous/NavBarLogo.png"> <!-- Add Logo to href -->
    <meta name="msapplication-TileColor" content="hsl(225, 20%, 50%)">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="hsl(225, 20%, 50%)">

    <link rel="shortcut-icon" href="~/images/AndroidL/News_Ico.ico" type="image/x-icon">

    <title>@ViewData["Title"] - IdeallySpeaking</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />        
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
</head>
<body>
    <div class="container-fluid" style="padding-right: 0; padding-left: 0;">
        <nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: hsl(225, 20%, 50%);">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="~/images/Miscellaneous/NavBarLogo.png" height="48" width="48" />Ideally Speaking</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active raleway">
                        <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="~/images/EssentialFlat_Color/home-1.png" height="24" width="24" /> Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item raleway">
                        <a class="nav-link" asp-area="" asp-controller="Articles" asp-action="FullArticle"><img src="~/images/EssentialFlat_Color/newspaper.png" height="24" width="24" /> Article(constructing)</a>
                    </li>
                    <li class="nav-item raleway">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact"><img src="~/images/EssentialFlat_Color/id-card-3.png" height="24" width="24" /> The "Who"</a>
                    </li>
                    <li class="nav-item raleway">
                        <a class="nav-link" asp-controller="ApplicationUser" asp-action="Profile"><img src="~/images/EssentialFlat_Color/notebook-4.png" height="24" width="24" /> Profile(constructing)</a>
                    </li>
                    @await Html.PartialAsync("_LoginPartial")
                    <li class="nav-item raleway">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Supporters"><img src="~/images/EssentialFlat_Color/gift.png" height="24" width="24" /> Support!</a>
                    </li>
                    <li class="nav-item dropdown raleway">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Democratic Socialism</a>
                            <a class="dropdown-item" href="#">Events</a>
                            <a class="dropdown-item" href="#">Prison Radio</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <br />
    <div class="container body-content">
        @RenderBody()
        
        <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Thanks Readers!</strong> There are some awesome new additions coming to the site. Can you help by   <a asp-controller="Home" asp-action="Supporters" class="alert-link btn btn-warning">donating?</a>
        </div>
        <br />             
    </div>    
    
    <div class="container-fluid" style="padding-right: 0; padding-left: 0;">                   
        <footer class="nav mb-1 pcprincess-footer">                               
            <ul class="nav-item flex-column raleway">
                <li class="nav">
                    <a class="nav-link text-white pt-0 pb-0 active" href="#" style="text-decoration: underline;">Active</a>
                </li>
                <li class="nav">
                    <a class="nav-link text-white pt-0 pb-0" href="#" style="text-decoration: underline;">Link</a>
                </li>
                <li class="nav">
                    <a class="nav-link text-white pt-0 pb-0" href="#" style="text-decoration: underline;">Up and Coming</a>
                </li>
            </ul>
            <ul class="nav-item flex-column raleway">
                <li class="nav">
                    <a class="nav-link text-white pt-0 pb-0 active" href="#" style="text-decoration: underline;">GitHub</a>
                </li>
                <li class="nav">
                    <a class="nav-link text-white pt-0 pb-0" href="#" style="text-decoration: underline;">Slack</a>
                </li>                
            </ul>
            <ul class="nav">
                <li class="nav-item pt-2 pr-2 pl-4">
                    <a href="https://www.linkedin.com/in/lori-overholtzer-19b7311b/"><span class="fa fa-linkedin fa-2x fa-fw" style="color: white;"></span></a></li>
                <li class="nav-item pt-2 pr-2">
                    <a href="http://twitter.com/SpeakingIdeally"><span class="fa fa-twitter fa-2x fa-fw" style="color: white;"></span></a>                    
                </li>
                <li class="nav-item pt-2 pr-2">
                    <a href="http://facebook.com/ideallyspeakingdotnet"><span class="fa fa-facebook-official fa-2x fa-fw" style="color: white;"></span></a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item p-3">&copy; 2017 - IdeallySpeaking</li>
                <li class="nav-item">
                    <a title="DMCA.com Protection Status" class="dmca-badge nav-link" href="http://www.dmca.com/Protection/Status.aspx?ID=cb632dcf-d7b0-4283-bed2-e9a99b014cff">
                        <img alt="DMCA.com Protection Status" src="//images.dmca.com/Badges/dmca-badge-w200-5x1-11.png?ID=cb632dcf-d7b0-4283-bed2-e9a99b014cff">
                    </a>
                    <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                </li>
            </ul>
            
        </footer>      
    </div>    

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
