
<!DOCTYPE html>
<html>
<head>
    <!-- Meta Formatting and Parsing http://microformats.org/wiki/Main_Page -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Lori Overholtzer, PCPrincess">
    <meta name="keywords" content="Articles, Comments, Politics, Community, Progressive">
    <meta name="description" content="Original and Aggregated Articles and Comments, Progressive Community">
    <!-- Open Graph protocol for Facebook links - More Properties http://ogp.me/ -->
    <meta name="og:title" content="Ideally Speaking">
    <meta name="og:type" content="">
    <meta name="og:image" content="">
    <meta name="og:url" content="www.ideallyspeaking.net">
    <meta name="og:site_name" content="Ideally Speaking">
    <meta name="og:description" content="Original and Aggregated Articles and Comments, Progressive Community">
    <!-- Twitter's' proprietary metadata for links -->
    <meta name="twitter:title" content="">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="IdeallySpeaking.net" content="IdeallySpeaking.net">
    <link rel="icon" sizes="192x192" href=""> <!-- Add Logo to href -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="IdeallySpeaking.net">
    <link rel="apple-touch-icon" href=""> <!-- Add Logo to href -->

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content=""> <!-- Add Logo to href -->
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <link rel="shortcut-icon" href="~/images/Miscellaneous/MegaPhone-Edit.png" type="image/x-icon">

    <title>@ViewData["Title"] - IdeallySpeaking</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: hsl(225, 20%, 50%);">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="~/images/Blawb/ldpi/news_ldpi.png" height="32" width="32" />Ideally Speaking</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active raleway">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="~/images/Simply/Home.png" height="24" width="24" />Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item raleway">
                    <a class="nav-link" asp-area="" asp-controller="Articles" asp-action="FullArticle">Full-Art Test</a>
                </li>
                <li class="nav-item raleway">
                    <a class="nav-link" asp-controller="ApplicationUser" asp-action="Profile"><img src="~/images/Simply/Text.png" height="24" width="24" />Profile(constructing)</a>
                </li>
                @await Html.PartialAsync("_LoginPartial")
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Democratic Socialism</a>
                        <a class="dropdown-item" href="#">Events</a>
                        <a class="dropdown-item" href="#">Prison Radio</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">        
        <div class="pcprincess-header mb-1 mt-1">
            <div class="logo-box">
                <img class="logo" src="~/images/Miscellaneous/Header-Logo_Color.png" height="130" width="130">
            </div> 
        </div> 
    </div>
    
    <br />
    <div class="container body-content">
        @RenderBody()
        
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Thanks Readers!</strong> There are some awesome new additions coming to the site. Can you help by   <a asp-controller="Home" asp-action="Supporters" class="alert-link btn btn-warning">donating?</a>
        </div>
        <br />             
    </div>    
    
    <div class="container">
        <footer class="pcprincess-footer-back">
            <section class="pcprincess-footer-front shadow-box">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <ul class="nav justify-content-center">
                    <li class="nav-item p-3">&copy; 2017 - IdeallySpeaking</li>
                    <li class="nav-item">
                        <a title="DMCA.com Protection Status" class="dmca-badge nav-link" href="http://www.dmca.com/Protection/Status.aspx?ID=cb632dcf-d7b0-4283-bed2-e9a99b014cff">
                            <img alt="DMCA.com Protection Status" src="//images.dmca.com/Badges/dmca-badge-w200-5x1-11.png?ID=cb632dcf-d7b0-4283-bed2-e9a99b014cff">
                        </a>
                        <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                    </li>
                </ul>                
            </section>
        </footer>
    </div>    

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
