
<!DOCTYPE html>
<html>
<head>
    <!-- Meta Formatting and Parsing http://microformats.org/wiki/Main_Page -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Lori Overholtzer, PCPrincess">
    <meta name="keywords" content="Articles, Comments, Politics, Community, Progressive">
    <meta name="description" content="Original and Aggregated Articles and Comments, Progressive Community">
    <!-- Open Graph protocol for Facebook links - More Properties http://ogp.me/ -->
    <meta name="og:title" content="Ideally Speaking">
    <meta name="og:type" content="">
    <meta name="og:image" content="">
    <meta name="og:url" content="www.ideallyspeaking.net">
    <meta name="og:site_name" content="Ideally Speaking">
    <meta name="og:description" content="Original and Aggregated Articles and Comments, Progressive Community">
    <!-- Twitter's' proprietary metadata for links -->
    <meta name="twitter:title" content="">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="IdeallySpeaking.net" content="IdeallySpeaking.net">
    <link rel="icon" sizes="192x192" href=""> <!-- Add Logo to href -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="IdeallySpeaking.net">
    <link rel="apple-touch-icon" href=""> <!-- Add Logo to href -->

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content=""> <!-- Add Logo to href -->
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <link rel="shortcut-icon" href="~/images/Miscellaneous/MegaPhone-Edit.png" type="image/x-icon">

    <title>@ViewData["Title"] - IdeallySpeaking</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
</head>
<body>    
    <div class="container">
        <nav class="navbar navbar-light mb-0 bg-color" style="border: 1px solid lightgray;">
            <ul class="nav flex-column flex-sm-row justify-content-end">
                <li class="nav-item raleway"><a class="flex-sm-fill text-sm-center nav-link active" asp-controller="Home" asp-action="Index"><img src="~/images/Simply/Home.png" height="24" width="24" />Home</a></li>
                <li class="nav-item raleway"><a class="flex-sm-fill text-sm-center nav-link" asp-area="" asp-controller="Articles" asp-action="Index"><img src="~/images/Simply/Calendar.png" height="24" width="24" />Recent</a></li>
                <li class="nav-item raleway"><a class="flex-sm-fill text-sm-center nav-link" asp-area="" asp-controller="Articles" asp-action="Create">Create-Art Test</a></li>
                <li class="nav-item raleway"><a class="flex-sm-fill text-sm-center nav-link" asp-area="" asp-controller="Articles" asp-action="FullArticle">Full-Art Test</a></li>
                <li class="nav-item raleway"><a class="flex-sm-fill text-sm-center nav-link" asp-controller="ISUser" asp-action="Profile"><img src="~/images/Simply/Text.png" height="24" width="24" />Profile(constructing)</a></li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="pcprincess-header mb-1 mt-1">
            <div class="logo-box">
                <img class="logo" src="~/images/Miscellaneous/Header-Logo_Color.png" height="170" width="170">
            </div>            
            <div class="nav-box d-flex align-items-end">
                <div class="d-flex">
                    <a class="" href=""><img src="~/images/Simply/Calendar.png" height="24" width="24" />Ethics</a>
                    <a class="" href=""><img src="~/images/Simply/Calendar.png" height="24" width="24" />Justice</a>
                    <a class="" href=""><img src="~/images/Simply/Calendar.png" height="24" width="24" />Government</a>
                    <a class=""  href=""><img src="~/images/Simply/Calendar.png" height="24" width="24" />Fillers</a>                    
                    <a class="" href=""><img src="~/images/Simply/Calendar.png" height="24" width="24" />Building</a>                    
                    <a class="" href=""><img src="~/images/Simply/Calendar.png" height="24" width="24" />Events</a>
                    <a class="" asp-controller="Home" asp-action="Contact"><img src="~/images/Simply/Skype.png" height="24" width="24" />Contact</a>
                    <a class="" asp-controller="Home" asp-action="Contact"><img src="~/images/Simply/Skype.png" height="24" width="24" />About</a>
                </div>
            </div>
        </div>
    </div>    
    
    <br />
    <div class="container body-content">
        @RenderBody()
        
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Thanks Readers!</strong> There are some awesome new additions coming to the site. Can you help by   <a asp-controller="Home" asp-action="Supporters" class="alert-link btn btn-warning">donating?</a>
        </div>
        <br />             
    </div>    
    
    <div class="container">
        <footer class="pcprincess-footer">
            <ul class="nav d-sm-flex justify-content-center">
                <li class="nav-item p-3">&copy; 2017 - IdeallySpeaking</li>
                <li class="nav-item">
                    <a title="DMCA.com Protection Status" class="dmca-badge nav-link" href="http://www.dmca.com/Protection/Status.aspx?ID=cb632dcf-d7b0-4283-bed2-e9a99b014cff">
                        <img alt="DMCA.com Protection Status" src="//images.dmca.com/Badges/dmca-badge-w200-5x1-11.png?ID=cb632dcf-d7b0-4283-bed2-e9a99b014cff">
                    </a>
                    <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                </li>
            </ul>            
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
