@using Microsoft.AspNetCore.Identity
@using IdeallySpeaking.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span class="vert-divider pt-0 pb-0"></span>
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul>
            <li class="nav-item">
                <span class="navbar-text">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </span>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <li class="nav-item raleway"><a class="flex-sm-fill text-sm-center nav-link" asp-area="" asp-controller="Account" asp-action="Register"><img src="~/images/Simply/User.png" height="24" width="24" />Register</a></li>
    <li class="nav-item raleway"><a class="flex-sm-fill text-sm-center nav-link" asp-area="" asp-controller="Account" asp-action="Login"><img src="~/images/Simply/Heart.png" height="24" width="24" />Log-In</a></li>    
}
