@model IdeallySpeaking.Models.Comment

@{
    ViewData["Title"] = "Comment";
}
 

<tr>
    <td class="post-avatar"><a href=""><img src="" width="48" height="48" border="0" /></a></td>
    <td id="item.CommentId"></td>
    <td>item.Title</td>
    <td>item.ApplicationUser</td>
    <td>item.CommentDate</td>
    <td>item.CommentContent</td>
    <td><a href="" class="" alt="View Profile" title="View Profile"></a></td>
    <td><span class="">(18,327 posts)</span></td>
</tr>
                
                

   

   





