@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IdeallySpeaking.Models.Comment

@{
    ViewData["Title"] = "Create Comment";
}

<h2>Create</h2>

<form asp-controller="Comments" asp-action="Create">
    <div class="form-horizontal">        
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>        
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">            
            <label asp-for="CommentContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @* EDITS @ #todo Channel/Slack *@
                <textarea asp-for="CommentContent" class="form-control" rows="8"></textarea>
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |         |
      <a asp-action="Delete" asp-route-id="@Model.CommentId">Delete</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
