@model IdeallySpeaking.Models.Comment
@using static IdeallySpeaking.Models.StringExtensions

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@            

@{
        
}    

   @foreach (var item in ViewBag["PopularComments"]) 
    {
        <div class="card-block">
            <div class="card-title">
                <h3>@item.Title</h3>
                @item.CommentDate
                @item.CommentAuthor@
            </div>                    
                    <p class="card-text">@item.CommentContent.ArticleShortener(50)</p>
                    <div class="dropdown-divider"></div>
        </div>
    }

