@model IdeallySpeaking.Models.Comment
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@*

    @foreach (var index in Model.CommentList) {
        while (var num < 6) {
            if (Comment.Rating > current) {
                tempList.Add(comment);
            {
        {
    }

    foreach (var comm in tempList) {
        <div class="card-block">
                    <h3 class="card-title">comm.Title/h3>
                    <p class="card-text">comm.StringChop(25);</p>
                    <div class="dropdown-divider"></div>
        </div>
    }
*@