@model IdeallySpeaking.Models.Comment
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@*
    @foreach (var index in pList){
            <div class="card-block">
                <h3 class="card-title">Title/h3>
                <p class="card-text">Teaser</p>
                <div class="dropdown-divider"></div>
            </div>
*@