@model IdeallySpeaking.Models.CommentViewModels.ReplyViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if ((string)ViewData["Request"] == "GET")
{
    <p class="">Response to <a href="#" id=""></a></p>
    <h4 class="">@Model.Reply.Title</h4>


    <div class="media mt-3">
        <a class="d-flex align-self-start mr-3" href="#">
            <img src="~/images/Miscellaneous/Placeholder.png" width="48" height="48" border="0" alt="Generic placeholder image">
        </a>
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            @Model.CommentDate;
            @Model.CommentContent;
        </div>
    </div>            
            
    <a asp-controller="ApplicationUserController" asp-action="Profile(ApplicationUserId)" class="" alt="View Profile" title="View Profile">item.ApplicationUser</a>
    <span class="">(18,327 posts)</span> 
}
else
{
    <form asp-controller="CommentsController" asp-action="Reply" method="post">
        <textarea asp-for="Reply"></textarea>
        <button type="submit">Test</button>
    </form>

}


