@model IdeallySpeaking.Models.Comment
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <p class="">Response to <a href="#1" id=""></a></p>
    <h3 class="post-title">@Model.Title</h3>

    <tr style="padding-left: 20px;">
        <td class="post-avatar"><a href=""><img src="" width="48" height="48" border="0" /></a></td>
        <td id="item.CommentId"></td>
        <td>item.Title</td>
        <td>item.ApplicationUser</td>
        <td>item.CommentDate</td>
        <td>item.CommentContent</td>
        <td><a href="" class="" alt="View Profile" title="View Profile"></a></td>
        <td><span class="">(18,327 posts)</span></td>
    </tr>
