@model IdeallySpeaking.Models.Article
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
       

<img class="img-thumbnail" src="~/images/Article_Images/Bernie_TB.jpg" height="100" width="200">
<a asp-controller="Articles"><h5 class="mt-1">@Html.DisplayFor(model => model.Headline)</h5></a>
<br />
<small>@Html.DisplayFor(model => model.Author)</small>
<small>@Html.DisplayFor(model => model.Date)</small>
<br />    


