@model IdeallySpeaking.Models.ArticleViewModels.ArticlePhotoViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<form method="post" enctype="multipart/form-data" asp-controller="Articles" asp-action="ArticlePhoto">
    <div class="form-group">
        <div class="col-md-10">
            <label for="ArticlePhoto">Photo Upload</label>
            <input type="file" class="form-control-file" id="ArticlePhoto">
            <small id="ArticlePhoto" class="form-text text-muted">Upload a Photo from your Computer for the Article.</small>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
