@model IdeallySpeaking.Models.Article
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>@Html.DisplayFor(model => model.Content)</p>

<p class="mb-2">
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<p class="mb-1">
    @* @Model.Author *@
    <a asp-action="Create" asp-controller="CommentsController">Reply to Article</a>  |
    <span id="bookmark">
        <a href="#" class="">Bookmark <span>this article</span></a>
    </span>
</p>
