@model IdeallySpeaking.Models.Article

@{
    Layout = "_Layout";
    ViewData["Title"] = "Full Article";
}
@* Check Facebook Meta Tags At: https://developers.facebook.com/tools/debug/  *@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:url" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <title>Title</title>
</head>
<body>
    <a name="top" id="top"></a>
    <div class="">
        <a href="/~PCPrincess" class="">PCPrincess</a> | <a href="/?com=profile&amp;uid=249111">My Profile</a> | <a href=""></a> | <a href=""></a> | <a href=""></a> | <a href="">Help</a> | <a href="">Log out</a>
    </div>
    <div class="">
        <a href="" id="" class="">Home</a><a href="" id="" class="">Latest Threads</a><a href="" id="" class="">Greatest Threads</a><a href="" id="" class=" ">Forums</a><a href="" id="" class="">My Posts</a>
    </div>

    <h4>Article</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                @Html.Partial("ArticleDetailsPartial")
            </tr>
        </thead>
        <tbody>
            <tr>
                @Html.Partial("ArticleContentPartial")
                <td class="" valign="bottom">
                    <a href="https://twitter.com/share" class="" data-url="" data-counturl="" data-count="" data-via="" data-size="" data-dnt="true">Tweet</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="">
        <a href="">Reply to this article</a>
    </p>
    <hr />
    <table class="table table-striped table-bordered">
        <thead>
            <tr></tr>
        </thead>
        <tbody>

            @*
            @foreach (var item in Model.CommentList)
            {
                <a name="op" id="op"></a>
                @Html.Partial("CommentPartial", item);
            }*@
            <tr>
                <td>
                    <div class="">
                        @* <a asp-action="Create" asp-controller="CommentsController">Reply to Article</a>*@
                    </div>
                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="" class="">Thread info</a>
        <span id="bookmark">
            <a href="#" class="">Bookmark<span>this thread</span></a>
        </span> 
        <p class=""><a href="#top">Back to top</a></p>       
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
