@{
    ViewData["Title"] = "Contact";
}
<h4 class="raleway">@ViewData["Title"].</h4>
<h5 class="raleway">@ViewData["Message"]</h5>

<address>
    Merced, CA<br />    
</address>

<address>
    <strong>Email:</strong> <a href="mailto:email@ideallyspeaking.net">email@ideallyspeaking.net</a><br />
    <strong>Donate:</strong> <a href="http://ideallyspeaking.net/home/supporters">Please Help Support Us!</a>
</address>
