@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ideally Speaking Supporters";
}

<h3>@ViewData["Title"]</h3>


Thank you very much for your assistance in helping to fund the growth of the Ideally Speaking Project.
<p>In order to make a donation at this point in time,
Paypal is the only option until such time as a secure funding mechanism can be added directly to this site.</p>

<br />
<p>
    <a class="btn btn-info" href="http://paypal.me/PCPrincess">PayPal.me</a>
</p>