@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ideally Speaking Supporters";
}

<h3>@ViewData["Title"]</h3>

<p>
    Thank you very much for your assistance in helping to fund the growth of the Ideally Speaking Project. In order to make a donation at this point in time,
    Paypal is the only option until such time as a secure funding mechanism can be added directly to this site.
    <br />
    The following URL will take you to our Paypal page: <a href="http://paypal.com">Donations at PayPal</a>
</p>